In [2]:
def main():
	print("Alphabets from (A-Z) are:")
	for i in range(65, 91):
		print(chr(i), end=" ")

	print("\nAlphabets from (a-z) are:")
	for i in range(97, 123):
		print(chr(i), end=" ")
if __name__ == "__main__":
	main()

Alphabets from (A-Z) are:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
Alphabets from (a-z) are:
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [12]:
i = 'A'
print("The Alphabets from A to Z are:")
while ord(i) <= ord('Z'):
	print (i ,end=" ")
	i = chr(ord(i) + 1)
i = 'a' 
print("\nThe Alphabets from a to z are:")
while ord(i) <= ord('z'):
	print (i ,end=" ")
	i = chr(ord(i) + 1)

The Alphabets from A to Z are:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
The Alphabets from a to z are:
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [13]:
# Multiplication table (from 1 to 10) in Python

num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120